#container {
	display: flex;
	flex-direction: row;
	/*flex-wrap: wrap;*/
}

#nav {
	text-align: left;
/*	border-style: solid;
	border-color: green;
*/	
}

#content {
	flex: 1;
/*	border-style: solid;
	border-color: red;*/
    font-family: Arial;
    padding-right: 20px;
    padding-left: 20px;
    /*margin-left: 100px;*/
    /*margin-right: 80px;*/
}

.argument {
	margin-left: 166px;
}

.blk {
	margin-left: 100px;
	margin-right: 100px;
}

.note {
	font-style: italic;
	font-size: 15px;
}

.command {
	font-weight: bolder;
	font-size: 14px;
}

.item {
	font-weight: bolder;
}

.reglist {
	display: block;
	list-style-type: none;
	margin: 0;
	padding-left: 15px;
	padding-bottom: 10px;
	text-indent: -2em;
}

img {
	display: block;
}
